<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="images/weather.png">
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="main">
        {{>header}}
    </div>
    <p>Site created by Harish. Uses data from mapbox.com and darksky.net</p>
    <img class="portrait" src="images\harish.jpg" />
    {{>footer}}
</body>

</html>